<!DOCTYPE html>
<html lang="en" xmlns:th="http:://www.thymeleaf.org">
  <head th:replace="fragments :: page_head('Category - Shopme Admin')"></head>
  <body>
    <div th:replace="navigation :: menu"></div>
    <div class="container-fluid">
      <div>
      <h2 class = "mt-2 mb-4">Manage Categories</h2>

        <a
            class="fas fa-user-plus fa-2x icon-dark"
            th:href="@{/categories/new}">
        </a>
        <a
            class="ml-5 fas fa-file-csv fa-2x icon-dark"
            th:href="@{/categories/export/csv}">
        </a>
        <a
            class="ml-5 fas fa-file-excel fa-2x icon-dark"
            th:href="@{/categories/export/excel}">
        </a>
        <a
            class="ml-5 fas fa-file-pdf fa-2x icon-dark"
            th:href="@{/categories/export/pdf}">
        </a>
        <div>
          <form
              th:action="@{/categories/page/1}"
              class="form-inline m-3">
            <input type="hidden" name="sortField" th:value="${sortField}">
            <input type="hidden" name="sortDir" th:value="${sortDir}">

            Filter:
            <input
                class="form-control m-2"
                type="search"
                name ="keyword"
                th:value="${keyword}"
                required
            />
            <button
                class="btn btn-primary m-2"
                type="submit"
            >
              <i class="fas fa-search"></i>
            </button>
            <button
                class="btn btn-secondary m-2"
                type="button"
                onclick = "clearFilter()"
            >
              <i class="fas fa-eraser"></i>
            </button>
          </form>
        </div>

    <!--    End of Search Form -->
        <div class = "full-details">
          <table class="table table-bordered table-striped table-hover table-responsive-xl">
            <thead class ="thead-dark">
            <tr>
              <th>ID</th>
              <th>Category Image</th>
              <th>Category Name</th>
              <th >Alias</th>
              <th >Enabled</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each = "category : ${listCategories}">
              <td>[[${category.id}]]</td>
              <td></td>
              <td>[[${category.name}]]</td>
              <td>[[${category.alias}]]</td>
              <td>
                <div th:replace="fragments :: category_status"></div>
              </td>
              <td>
                <div th:replace="fragments :: category_actions"></div>
              </td>
            </tr>
            </tbody>
          </table>
      <div th:replace="fragments :: footer"></div>
    </div>
  </body>
</html>